// Font imports
@import url("https://fonts.googleapis.com/css?family=Raleway|Open+Sans:400,400i,700,700i&subset=latin-ext");

$orange: #ea6036;
// $orange-dark: #e2550e;
$black: #2d3237;
$gray-dark: #555a5f;
$gray: #91969b;
$gray-light: #c3c8cd;
$gray-pale: #e6ebf0;
$gray-white: #f7f9fc;

$accent: $orange;
$accent-light: lighten($accent, 15%);
$accent-dark: darken($accent, 15%);
$font-branding: "Raleway", sans-serif;
$font-headline: "Raleway", sans-serif;
$font-sans: "Open Sans", sans-serif;
$text-color: $gray-40;
$text-size-small: 0.625rem;
$text-size: 0.8125rem;
$text-size-large: 1rem;
$text-size-jumbo: 1.5rem;
$masthead-background: $gray-45;
$main-homepage-background: $white;
$main-homepage-icon-color: $black;
$main-homepage-icon-border: $black;
$main-page-text-color: $gray-35;
$main-page-btn-color: $gray-45;
$search-container-background: #e6e2e2;
$search-container-hover: $gray-70;
$btn-homepage-background: $white;
$btn-homepage-border: $black;
$btn-default-background: $white;
$btn-default-background-hover: $accent;
$btn-default-border: $black;
$btn-default-text-color: $black;
$btn-default-text-hover: $black;
$btn-user-initial: $gray-50;
$elem-link-color: $gray-50;
$elem-active-link-color: $gray-50;
$elem-link-accent: $accent;
$nav-text-color: $gray-40;
