<ul class="breadcrumb">
  <!-- <li class="breadcrumb-item">
    <a class="content-link" href="/">Home </a> ⇾
  </li> -->
  <% parentLinks.forEach((link) => { %>
  <li class="breadcrumb-item">
    <span class="spacer">/</span>
    <span
      ><a class="content-link" href="<%- link.url %>"><%= link.name %></a></span
    >
  </li>
  <% }) %>
  <li class="breadcrumb-item">
    <span class="spacer">/</span>
    <span><%= title %></span>
  </li>
</ul>
